

/* ---------- header-nav ---------- */
.navbar {
  font-size: 1.125em;
	background-color: var(--blue-magenta);
  background-image: var(--accent-gradient);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--light-pastel-purple);
	height: 70px;
  padding-bottom: 10px;
	position: relative;
  width: 100%;
}

.navbar-toggle {
	position: absolute;
	right: 20px;
	cursor: pointer;
	top: 0;
	color: rgba(255, 255, 255, 0.7);
	font-size: 2.5rem;
	transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.navbar-toggle.active {
	transform: rotate(45deg);
}

.contact {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
	margin: 0.8em 0.8em 0.4em 0.8em;
	position: absolute;
  top: -2%;
	text-decoration: underline;
	z-index: 9999;
}
.contact,
.nav-links {
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.main-nav {
	list-style-type: none;
	display: none;
	width: 100%;
}
.main-nav.active {
	top: 60px;
  background: rgba(0,0,0,0.9);
  z-index: 999999;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

.main-nav li {
	text-align: right;
	background: rgba(255,255,255, 0.1);
  text-align: right;
  margin-bottom: 0.8em;
  padding: 0.25em 0;
  width: fit-content;
}
.main-nav li.active {
	border-bottom-width: 0.125em;
  border-bottom: 2px solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-image-source: linear-gradient(90deg, rgba(255,255,255, 0.5), rgba(255,255,255, 1));
  border-image-slice: 1;
  font-weight: 700;
}
.main-nav li:hover,
.main-nav li:active {
	background: transparent;
	border-image-source: var(--main-area-bg-color);
}
.nav-links {
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
}
