

/* zine */
.magazine {
	background: #e5e5e5;
	display: grid;
	grid-template-rows: 130px 2fr 1fr;
	grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
	height: 800px;
	max-width: 80em;
	outline: 6px solid #121219;
	width: 95vw;
	margin: 5% auto auto;
}



@media only screen and (max-width: 73em) {
	.magazine {
		grid-template-rows: 120px 4fr 3fr 3fr 2fr 0.5fr;/*130px 2fr 1fr*/
		grid-template-columns: 95vw; /*1.5fr 1fr 1fr 1.5fr*/
		height: 1800px;
		width: 95vw;
	}
	
	
}
