

/* ---------- main-content ---------- */
main {
	width: 100%;
}

.fill-area  {
	bottom: -72px;
	z-index: 0;
	background: var(--fill-area-bg-color);
	box-shadow: inset 3px 3px 5px -1px #111;
	pointer-events: none;
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: all 1s ease; 
    z-index: 2;
}

main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--main-area-bg-color);
	margin-top: 60px;
}

.content {
	color: #eaedf0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1.1em;
	margin: 0 auto;
	height: 200px;
	width: 45%;
	z-index: 2;
	text-align: center;

	/*color: rgba(255, 255, 255, 0.7);
    text-shadow: #222 1px 0 8px;*/
}

.slidecontainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	margin: 10vh auto;
	width: 80%;
	z-index: 2;
}

label {
	position: static;
	z-index: 1;
	font: 8rem "Monoton", sans-serif;
  	color: var(--blue-magenta);
	margin: -5rem 0 2rem;
}
label::after {
  content: "%";
}

/* slider itself */
.slider {
  	position: static;
	z-index: 2;
	width: 50vw;
	height: 1rem;
	background-color: var(--blue-magenta);
	background-image: var(--accent-gradient);
	-webkit-appearance: none; 
	appearance: none;
	border: none;
	outline: none;
	border-radius: 100vmax;
	box-shadow: inset 3px 3px 5px -1px #000;
}

.slider::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	appearance: none;
  	width: 4vw;
  	height: 4vw;
  	background: #eaedf0;
  	border-radius: 50%;
  	cursor: pointer;
  	box-shadow: 5px 5px 8px -1px #000;
  	transition: box-shadow .3s ease-in-out;
}

.slider::-moz-range-thumb {
  	appearance: none;
  	width: 4vw;
  	height: 4vw;
  	background: #eaedf0;
  	border-radius: 50%;
  	cursor: pointer;
  	box-shadow: 5px 5px 8px -1px #000;
  	transition: box-shadow .3s ease-in-out;
}

/* ---------- @media ---------- */
@media screen and (max-width: 52em) {
	.content {
		height: 100px;
		width: 85%;
	}

	label {
		font: 4rem "Monoton", sans-serif;
		margin: -2rem 0 1rem;
	}
	.slider {
		width: 85vw;
	}
}

@media screen and (max-width: 33.250em) {
	.content {
		margin: -5em auto 0 auto;
	}
	.slidecontainer {
		margin: 3vh auto;
	}

	label {
		margin: 2rem 0 2rem;
	}

	.slider::-webkit-slider-thumb {
		width: 8vw;
		height: 8vw;
	}
}

@media screen and (min-width: 52em) {}












