

.fill-area  {
	bottom: -72px;
	/*background: var(--fill-area-bg-color);*/
	background: rgba(50,45,127,255);
	box-shadow: inset 3px 3px 5px -1px #111;
	pointer-events: none;
	position:fixed;
	padding:0;
	margin:0;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	transition: all 1s ease; 
	z-index: 2;
}

main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--end-retro-stripe-gradient);
}
/* main::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
	pointer-events: none;
}*/

.content {
	color: var(--light-accent-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-family: 'Droid Serif', serif;
	font-size: 1.3em;
	margin: 0 auto;
	height: 200px;
	width: 45%;
	z-index: 2;
	text-align: center;
	margin-top: 50px;
}

.slidecontainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	margin: 10vh auto;
	width: 80%;
	z-index: 2;
}

label {
	position: static;
	z-index: 1;
	font: 8rem "Monoton", sans-serif;
	/*color: rgba(51, 51, 51, 0.9);*/
	color: purple;
	margin: -5rem 0 2rem;
}
label::after {
  content: "%";
}

/* slider itself */
.slider {
	position: static;
	z-index: 2;
	width: 50vw;
	height: 1rem;
	background-color: purple;
	/*background-image: var(--accent-gradient);*/
	/*background: rgba(51, 51, 51, 0.9);*/
	-webkit-appearance: none; 
	appearance: none;
	border: none;
	outline: none;
	border-radius: 100vmax;
	box-shadow: inset 3px 3px 5px -1px #000;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 4vw;
	height: 4vw;
	background: var(--light-accent-blue);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 5px 5px 8px -1px #000;
	transition: box-shadow .3s ease-in-out;
}

.slider::-moz-range-thumb {
	appearance: none;
	width: 4vw;
	height: 4vw;
	background: var(--light-accent-blue);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 5px 5px 8px -1px #000;
	transition: box-shadow .3s ease-in-out;
}

/* ---------- @media ---------- */
@media screen and (max-width: 52em) {
	.content {
		height: 100px;
		width: 85%;
	}

	label {
		font: 4rem "Monoton", sans-serif;
		margin: -2rem 0 1rem;
	}
	.slider {
		width: 85vw;
	}
}

@media screen and (max-width: 33.250em) {
	.content {
		margin: 1em auto 0 auto;
	}
	.slidecontainer {
		margin: 3vh auto;
	}

	label {
		margin: 2rem 0 2rem;
	}

	.slider::-webkit-slider-thumb {
		width: 8vw;
		height: 8vw;
	}
}














