

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|IM+Fell+DW+Pica+SC|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito|Roboto+Mono&display=swap');

:root {
	--white:#fff;
	--light-grey:#f5f5f5;
	--grey:#d3d3d3;
	--dark-grey:#222;
	--dark-accent-grey:#111;

	--light-pastel-purple:#b19cd9;
	--blue-magenta:#9921e8;
	--med-light-yellow:#e5d54f;

	--accent-gradient:linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
	--fill-area-bg-color:#000;
	--main-area-bg-color:linear-gradient(to right, #ff5c5c, #ffa860, #e3dc44, #57b02a);

	--content-box-shadow:5px 5px 36px 5px #000;
}

html {
	background-color: var(--grey);
	height: 100%;
}

body {
	/*font-family: 'PT Serif', serif;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1em;
	margin: 0;

	background: var(--grey) !important;
	color: var(--dark-grey);
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	/*font-family: 'PT Serif', serif;*/
	line-height: 1.3;
}

@media screen and (max-width: 52em) {}

@media screen and (max-width: 33.250em) {}

@media screen and (min-width: 52em) {}





